* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}



    .form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  margin-bottom: 10px;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}

	}
.preguntas-titulo {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  margin-bottom: 10px;
	  padding: 10px;

	}

.preguntas-form {
	margin-top: 100px;
}


form[role=preguntas] {
	color: #5d5d5d;
	background: #f2f2f2;
	
	padding: 26px;
	padding-bottom: 50px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	
	form[role=preguntas] input,
	form[role=preguntas] button {
		
	}
	form[role=preguntas] > div {
		text-align: justify;
	}
	
.QualificationBackGround {
	height: 100%;
	width: 100%;
	z-index: 9999;
	top: 0px;
	left: 0px;
	position: fixed;
	display: none;
	background-color: #1B1B1B;
	opacity: 0.8;
}

.QualificationDialog {
	position: fixed;
	width: 480px;
	z-index: 9999;
	border-radius: 10px;
	background-color: #D5D6D8;
	display: none;
}

.rating {
    overflow: hidden;
    /*display: inline-block;*/
    font-size: 0;
    /*position: relative;*/
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    /*padding: 0;*/
    /*margin: 0 0 0 -16px;*/
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    /*position: relative;*/
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../Images/star.png') 0 -16px;
}

.ToCenter {
	padding-right: 28px;
}