@import url('bootstrap.min.css');

body{
    background: url("../RECURSOS/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
 	background-size: 100% auto;   
}
