<div navbar-directive></div> 
<div class="container" ng-init="inicializarTabla()">
	<div class="panel panel-primary" style="text-align:center">
	  <div class="panel-heading"><h1 class="panel-title">Adopciones</h1></div>
	  <div class="panel-body">
	  	<div class="row" style="border-bottom:4px solid #999">
	  		<div class="col-md-3"><h4>Rescatista</h4></div>
	  		<div class="col-md-3"><h4>Adoptante</h4></div>
	  		<div class="col-md-1"><h4>Mascota</h4></div>
	  		<div class="col-md-3"><h4>Comentarios</h4></div>
	  		<div class="col-md-2"><h4>Más Acciones</h4></div>
	  	</div>
	  	<div class="row" style="border-bottom:1px solid #999"  ng-repeat='post in posts'>
	  		<div class="col-md-3"><h5>{{post.Rescatista}}</h5></div>
	  		<div class="col-md-3"><h5>{{post.Adoptante}}</h5></div>
	  		<div class="col-md-1"><h5>{{post.Mascota}}</h5></div>
	  		<div class="col-md-3"><h5>{{post.Comentarios}}</h5></div>
	  		<div class="col-md-2"><button class="btn btn-info btn-sm" ng-click="guardarID(post.IdAdopcion)">Fotos</button>
	  		<button class="btn btn-danger btn-sm" ng-click="abrirVentana(post.Mascota,post.Adoptante,post.Rescatista,post.IdAdopcion)">Devolver</button>
	  		</div>
	  	</div>
	  </div>
	  

</div><!--Cuerpo del panel-->

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Pet Saviors 2015</p>
        </div>
    </div>
</footer>

<div class="fondo" id="fondoDev"></div>
	<div class="ventanaEmergente row" id="motivoDev">
		<div class="col-lg-12 column" style="text-align:center">
			<div class="panel" style="">
				<h3>Motivo</h3>
				<p>Escriba el motivo por el cual quiere devolver la mascotas</p>
				<textarea rows=10 cols=50 id="motivoEspacio" ng-model="men.motivo"></textarea>
				<button class="btn btn-success btn-sm" ng-click="devolver(post.Mascota,post.Adoptante,post.Rescatista,post.IdAdopcion)">Confirmar</button>
				<button class="btn btn-danger btn-sm" ng-click="cancelar()">Cancelar</button>
				<hr>
			</div>
		</div>
	</div>
</div><!--Container end-->