<div navbar-directive></div>
<div class="container" ng-init="inicializar()">
	<div class="panel" align="center">
	  <div class="panel-body">
	  	<div class="row">
	  		<h3>Fotos de la Adopción</h3>
	  	</div>
		<div class="row" ng-model="rowO">
	  	  <div class="col-lg-2"></div>
	  	  <div class="col-lg-8" ng-model="col">
	  		<div class="input-group">
		      	<input type="text" class="form-control" ng-model="mensaje.url" placeholder="Agrega una nueva imagen. Pega el URL aquí">
			      	<span class="input-group-btn">
			        	<button class="btn btn-default" ng-click="agregar()">Insertar Imagen</button>
			      	</span>
		    	</div><!-- /input-group -->
		    </div>
		   	<div class="col-lg-2">
		   		<a href="" ng-click="volver()"data-original-title="Remove this user" type="button" class="btn btn-sm btn-danger">Volver</a>
		  	</div>
	  	</div>
	  	<div class="row" ng-model="rowT">
	  	<br></br>
	  		<div class="col-lg-4 col-md-4" ng-repeat='post in posts track by $index'>
			    <div class="thumbnail">
			      <img ng-src={{post.Foto}}>
			      <div class="caption">
			      	<!--{{post.IdFoto}}-->
			        <p><button class="btn btn-danger" ng-click="eliminar(post.IdFoto)">Eliminar</button> 
			      </div>
			    </div>
    		</div>
	  	</div>

	  </div>
</div><!--Cuerpo del panel-->

<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Pet Saviors 2015</p>
        </div>
    </div>
</footer>
</div><!--Container end-->