    <div class="row-fluid" ng-init="animar()">
      <div class="span12">
        <div class="navbar navbar-fixed-top navbar-inverse">
          <div class="navbar-inner">
            <div class="container">
              <img class="Logo" src="Images/LogoLargo.png" height="100" width="670" alt="">
              <ul class="nav pull-right">
                <li>
                  <p class="navbar-btn">
                    <a ng-click="ingresar()" class="btn btn-primary btn-xlarge">¡Ingresar para empezar!</a>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="home" data-speed="4" data-type="background">
    </section>
    <section class="about" data-speed="2" data-type="background">
      <div class="container">
        <div class="row-fluid">
          <div class="span4 FormatoTextoDos">
            <h1>"La grandeza de una nación y su progreso moral puede ser juzgado por la forma en que sus animales son tratados"</h1>
            <p class="TextoDerecha">Gandhi</p>
          </div>
        </div>
      </div>
    </section>
    <section class="nueva" data-speed="4" data-type="background">
    </section>

    <section class="Abajo" data-speed="2" data-type="background">
      
    <div class="container">
      <div class="page-header">
        <h1>PetSaviors te necesita <small>¡Entrá y suscribete ahora!</small></h1>
      </div>
      <div class="row-fluid">
            <div class="span4">
              <h2>Más Detalles</h2>
              <p>Pet Saviors empezó como un grupo de amigo que no soportaban ver cómo los animales callejeros sufrían todos los días por el solo hecho de vivir. Entonces con ayuda de su comunidad, lograron encontrar un hogar para la mayoría de esos animales.</p>
              <p>Luego de eso, decidieron buscar grupos parecidos en Costa Rica, y se dieron cuenta que el suyo realmente podría ayudar a la causa. Entonces luego de mucho esfuerzo, lograron alcanzar la meta de crear un grupo oficial y empezar a encontrar hogares a los animales que no lo tienen, mediante la colaboración económica de varias empresas. </p>
            </div>
      </div>
    </section>
  
  <section class="ColorFondo">
    <div class="container ColorFondo">
      <footer>
          <p class="pull-right"></p>
          <p>© 2014 Pet Saviors - Dream Team, Inc.</p>
      </footer>
    </div>
  </section>