<div navbar-directive></div>

<div class="container" ng-init="inicializarUsuario()">
	<br></br><br></br>
	<div class="row">
	<div class="panel panel-primary">
	  <div class="panel-heading"><h2 class="panel-title">Notificaciones</h2></div>
	  <div class="panel-body">
		<div class="panel widget-messages-alt">
			<div class="col-md-1"></div>
	    		<div class="col-md-10">
					<div class="panel-body padding-sm">
						<div class="messages-list">
							<div>
		       					<div class="col-md-12" ng-repeat = 'post in posts'>
		       						<div class="row">
									<div class="message">
										<div class="col-md-7">
										<img src="http://icons.iconarchive.com/icons/martz90/circle/512/messages-icon.png" alt="" class="message-avatar">
										<a href="#" class="message-subject">{{post.Mensaje}}</a>
										<div class="message-description">
											from <a href="#">{{post.Remitente}}</a>
										</div> <!-- / .message-description --></div>
										<div class="col-md-5">
										<div class="btn-group">
										  <a href="{{post.IdentificadorFormu}}"<button type="button" class="btn btn-primary">Ver Respuesta</button></a>
										  <button type="button" class="btn btn-success">Aceptar</button>
										  <button type="button" class="btn btn-danger">Rechazar</button>
										</div>
										</div>
									</div> <!-- / .message --></div>
								</div><!-- / .column -->
							</div><!-- / .Controlador -->
						</div> <!-- / .messages-list -->
					</div> <!-- / .panel-body -->				
				</div>
			</div><!--idgent dentro del panel-->
		</div><!--Cuerpo del panel-->
		</div></div>
<hr></hr>



	<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Pet Saviors 2015</p>
                </div>
            </div>
        </footer>
	</div><!--Container end-->