<div class="container" ng-init="inicializar()">
    <div navbar-directive></div>  
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 toppad centrar" id="firstPanel">
            <div class="panel panel-info Sombra ColorHeading">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12" align="center"> <img alt="User Pic" ng-src={{infoMascota.FotoDespues}} class="img-rounded NewSize"> </div>
                    </div>
                    <div class = "row">
                        <div class=" col-md-12 col-lg-12" align="center">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Tipo: </td>
                                        <td>{{infoMascota.Tipo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Raza: </td>
                                        <td>{{infoMascota.Raza}}</td>
                                    </tr>
                                    <tr>
                                        <td>Nombre: </td>
                                        <td>{{infoMascota.Nombre}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tamaño: </td>
                                        <td>{{infoMascota.Tamano}}</td>
                                    </tr>
                                    <tr>
                                        <td>Energía: </td>
                                        <td>{{infoMascota.Energia}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pelaje: </td>
                                        <td>{{infoMascota.Pelaje}}</td>
                                    </tr>
                                    <tr>
                                        <td>Color: </td>
                                        <td>{{infoMascota.Color}}</td>
                                    </tr>
                                    <tr>
                                        <td>Entrenamiento: </td>
                                        <td>{{infoMascota.Entrenamiento}}</td>
                                    </tr>
                                    <tr>
                                        <td>Espacio Requerido: </td>
                                        <td>{{infoMascota.Espacio}}</td>
                                    </tr>
                                    <tr>
                                        <td>Estado del animal: </td>
                                        <td>{{infoMascota.Estado}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            
                            <button class="btn btn-success" id="btnSalud">Mostrar Salud</button>
                        </div>
                    </div>
                </div>
                <div class="panel-footer Grande">
                    <span class="pull-right">
                        <a href="" ng-click="volver()"data-original-title="Remove this user" type="button" class="btn btn-sm btn-danger">Volver</a>
                    </span>
                </div> 
            </div>
        </div>
        <div class="col-lg-4 toppad Esconder" id="SecondPanel">
            <div class="panel panel-info Sombra ColorHeading">
                <div class="panel-body">
                    <div class="row">
                        <h3 align="center">Foto de cuando se encontró:</h3>
                        <div class="col-md-12 col-lg-12" align="center"> <img alt="User Pic" ng-src={{infoMascota.FotoAntes}} class="img-rounded NewSize"> </div>
                    </div>
                    <div class = "row">
                        <div class=" col-md-12 col-lg-12" align="center">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Severidad: </td>
                                        <td>{{infoSalud.SEVERIDAD}}</td>
                                    </tr>
                                    <tr>
                                        <td>Enfermedades: </td>
                                        <td>{{infoSalud.NOMBRE_ENFERMEDAD}}</td>
                                    </tr>
                                    <tr>
                                        <td>Tratamientos: </td>
                                        <td>{{infoSalud.NOMBRE_TRATAMIENTO}}</td>
                                    </tr>
                                    <tr>
                                        <td>Medicamentos: </td>
                                        <td>{{infoSalud.NOMBRE_MEDICAMENTOS}}</td>
              
                                    </tr>
                                    <tr>
                                        <td>Veterinario: </td>
                                        <td>{{infoSalud.NOMBRE_VETERINARIO}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<script type="text/javascript">
    $("#SecondPanel").hide();

    var changeFlag = true;
    $("#btnSalud").click(function(){
        if(changeFlag) {
            $("#btnSalud").text("Ocultar Salud");
            $("#firstPanel").animate({
                marginLeft: '0px'
            }, 'slow');
            $("#SecondPanel").show('slow');
            changeFlag = false;
        }
        else {
            $("#btnSalud").text("Mostrar Salud");
            $("#firstPanel").animate({
                marginLeft: '18%'
            }, 'slow');
            $("#SecondPanel").hide('slow');
            changeFlag = true;
        }
    })

</script> -->