<div hola-ext-player="1">
  <div navbar-directive></div>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>¡Bienvenido a la página de Mascotas!</h1>
            <p><a class="btn btn-warning btn-xlarge" ng-click = "petCatalogue()" >¡Explore todas las mascotas!</a>
            </p>
        </header>

        <!-- Title -->
        <div class="row">

        </div>
        <!-- /.row -->

        <div>
            

            <div class="row text-center" >
            
            <!--Cada cuadro-->
            <div class="col-md-3 col-md-2 hero-feature" ng-repeat = 'post in posts | filter:search:strict | limitTo: 5'>
                <div class="thumbnail">
                <img ng-src = {{post.FotoAntes}} alt = "">
                    <div class="caption">
                        <h3 href = "#">{{post.Nombre}}</h3>
                        <p href = "#">{{post.Descripcion}}</p>                        
                        <p>
                            <a class="btn btn-default" ng-click='guardarID(post)'>Más información</a>
                        </p>
                    </div>
                    <p> <div class="fb-share-button" data-href={{post.FotoAntes}} data-layout="icon"></div> </p>
                </div>
            </div>
            <!--Fin cada cuadro-->

            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Pet Saviors 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->


        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=836405053104976&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>