<div hola-ext-player="1">
  <div class="navbar">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <img src="Images/LogoLargo.png" height="100" width="670">
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
              <li class="MargenCentrado"><a href="#">Inicio</a></li>
              <li class="MargenCentrado"><a href="#">Contacto</a></li>
              <li class="dropdown MargenCentrado">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Explorar <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Adoptar Mascota</a></li>
                  <li><a href="" ng-click="registrarMascota()">Dar en Adopción</a></li>
                  <li><a href='' ng-click='users()'>Usuarios</a></li>
                  <li><a href='' ng-click='pet()'>Mascotas</a></li>
                  
                  <li class="divider"></li>
                  <li class="dropdown-header">Pet Saviors - Proyect</li>
                  <li><a href="#">Desarrolladores</a></li>
                  <li><a href="#">Otra cosa que no sé</a></li>
                </ul>
              </li>
              <li class="dropdown MargenCentrado">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Adoptar Mascota</a></li>
                  <li><a class='BotonPop' href='' ng-click='verperfil()'>Ver mi perfil</a></li>
                  <li class='divider'></li>
                  <li><a class='BotonPop' href='' ng-click='logout()'>Cerrar sesión</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>¡Bienvenido a la página de Mascotas!</h1>
            <p><a href = "petCatalogue.html" class="btn btn-primary btn-large">¡Explore todas las mascotas!</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Últimos registros</h3>
            </div>
        </div>
        <!-- /.row -->

        <div>
            Buscar: <input ng-model="search.Nombre">
            <hr>

            <div class="row text-center" >
            
            <!--Cada cuadro-->
            <div class="col-md-3 col-md-2 hero-feature" ng-repeat = 'post in posts | filter:search:strict | limitTo: 5'>
                <div class="thumbnail">
                <img ng-src = {{post.FotoAntes}} alt = "">
                    <div class="caption">
                        <h3 href = "#">{{post.Nombre}}</h3>
                        <p href = "#">{{post.Descripcion}}</p>                        
                        <p>
                            <a class="btn btn-primary">¡Adóptelo!</a>
                            <a class="btn btn-default" ng-click='perfilMascota()'>Más información</a>
                        </p>
                    </div>
                </div>
            </div>
            <!--Fin cada cuadro-->

            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright © Pet Saviors 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->