<div class="container" ng-init="Iniciar()">
<div navbar-directive></div>
<div class="row MargenTop">
    <div class="span12">
        <button class="btn btn-primary" ng-click="Iniciar()">Todas las mascotas</button>
        <button class="btn btn-warning" ng-click="makeFilter()">Mis mascotas</button>
    </div>
</div>
<div>
    <div class="row text-center" >        
    <!--Cada cuadro-->
    <div ng-repeat = 'post in posts | filter: textToFilter'>
        <div class="col-md-3 col-md-4 hero-feature">
            <div class="thumbnail">
                <img ng-src = {{post.FotoAntes}} alt = "">
                <div class="caption">
                    <h3 href = "#">{{post.Nombre}}</h3>
                    <p href = "#">Descripción: {{post.Descripcion}}</p>
                        
                    <p id="campo">
                        <a class="btn btn-primary">¡Adóptelo!</a>
                        <a class="btn btn-default" ng-click="guardarID(post)">Más información</a>
                        <a class="btn btn-warning" ng-show="returnID(post)" ng-click="goEditar(post)">Editar</a>
                    </p>
                </div>
            </div>
        </div>
     </div>   
    </div>
</div>
</div>
<hr>