<div hola-ext-player="1">
  <div navbar-directive></div>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Usuarios
                    <small>Conoce a los usuarios que utilizan nuestra app</small>
                </h1>
            </div>
        </div>
        
        <!-- Team Members Row -->
        <div>
            <div class="row">
                <div class="col-lg-2 col-sm-2 text-center" ng-repeat = 'post in posts'>
                    <img class="img-circle img-responsive img-center" ng-src={{post.Foto}} height="200" width="200" alt="">
                    <h3>{{post.Nombre}} {{post.P_Apellido}}
                        <!--<small>Rescatista</small>-->
                    </h3>
                    <p>Correo: {{post.Correo}}</p>

                    <div ng-show = 'imAdmin()'>
                        <div ng-hide='imThisGuy(post)'>
                            <a class="btn btn-danger" 
                            ng-hide= 'isInBL(post)' 
                            ng-click ='manageBlackList(post,1)'> Insertar en lista negra </a>
                            <a class="btn btn-success" 
                            ng-hide= 'isAdmin(post)' 
                            ng-click='manageAdmin(post,1)'> Agregar a admins </a>
                            <a class="btn btn-warning   " 
                            ng-show= 'isAdmin(post)' 
                            ng-click='manageAdmin(post,0)'> Eliminar de admins </a>
                        </div>
                    </div>

                </div>        
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Pet Saviors 2015</p>
                </div>
            </div>
        </footer>

    </div>
