@import url('http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css');
@import url('http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css');
body{
    background: url("RECURSOS/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: 100% auto;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
 	background-size: 100% auto;   
}
